.header {
  display: flex;
  font-family: lato !important;
  background-color: #0f2039;
  justify-content: center;
  align-items: center;  
  height: 40px;
  color: white;
}

body {
  margin: 0px 0px;
  padding: 0px 0px;
  font-size: 0.9em;
}

.blue-header {
  width: 84px;
  height: 10px;
  background-color: #3061ff;
}

.modal-container {
  position: fixed; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-start; 
  overflow: auto; 
  z-index: 6;
  background-color: rgba(0,0,0,0.8);
}

.modal-show {
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 400px;
  color: black;
  background-color:rgba(255, 255, 255, 0.98);
  z-index: 7;
  /* background-color: #fff; */
  margin: 2rem;
  padding: 2rem;
  border-radius: 0.25rem;
  /* width: 50%; */
  /* max-height: 75%; */
  overflow: auto;
  box-shadow: 0 4px 20px rgba(0,0,0,0.4);
}
.modal-hide {
  display: none;
}

.location-submit {
  display: inline;
  margin-left: 8px;

}

.btn {
  
  display: inline-block;
  outline: 0;
  cursor: pointer;
  padding: 3px 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 2px;
  color: #24292e;
  background-color: #fafbfc;
  border-color: #1b1f2326;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
  :hover {
      background-color: #f3f4f6;
      border-color: #1b1f2326;
      transition-duration: 0.1s;
  }

}

.dots {
  color: white;
}

.logo {
  padding-right: 300px;
}

.list-item {
  border-bottom: 1px solid #EBEBEB;
  padding-bottom: 4px;
  
}

.main-container-first-row {
  display: flex;
  margin-left: 6%;
  margin-right: 8%;
  font-family: lato !important;
}

.search-div {
  padding-left: 30vw;
}
.top-videos {
  width: 400px !important; */
  flex-shrink: 0;
  padding-right: 15px;
}
.top-songs {
  /* padding: 0px 50px; */
  padding: 0px 30px;
  width: 200px !important; */
  flex-shrink: 0;
}

.top-videos-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.placeholder {
  width: 200px;
  height: 150px;
  margin: 5px;
  background-color: red;
}

.trending-topics {
  /* width: 500px !important; */
  /* flex-shrink: 0; */
}

.album-container {
  display: flex;
  flex-wrap: wrap;

  
}

.albums {
  width: 100px;
  height: 100px;
  margin: 5px;
  color: red;
}

.album-cover {
 padding: 2px 2px;
}

.main-container-second-row {
  display: flex;
}

.concert-item {
  margin-left: 15px;
  margin-right: 15px;
}

.concert-cover {
  width: 200px;
  height: 200px;
}

@media (max-width: 950px) {
  .main-container-first-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@media (max-width: 950px) {
.top-videos-items {
  width: 400px !important; */
  flex-shrink: 0;
  align-items: center;
    justify-content: center;

}
}

@media (max-width: 950px) {
  .top-songs h2 {
    text-align: center !important;
    justify-content: center !important;
  
  }
  }
