.header {
  display: flex;
  font-family: lato !important;
  background-color: #F5F8FA;
  justify-content: center;
  align-items: center;  
  height: 40px;
}

body {
  margin: 0px 0px;
  padding: 0px 0px;
}

.modal-container {
  position: fixed; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-start; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.8);
}

.modal-show {
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 150px;
  width: 400px;
  color: red;
  background-color:rgba(255, 255, 255, 0.98);
  z-index: 7;
  /* background-color: #fff; */
  margin: 2rem;
  padding: 2rem;
  border-radius: 0.25rem;
  /* width: 50%; */
  /* max-height: 75%; */
  overflow: auto;
  box-shadow: 0 4px 20px rgba(0,0,0,0.4);
}
.modal-hide {
  display: none;
}

.logo {
  padding-right: 300px;
}

.list-item {
  border-bottom: 1px solid #EBEBEB;
  padding-bottom: 4px;
  
}

.main-container {
  display: flex;
  margin-left: 6%;
  margin-right: 8%;
  font-family: lato !important;
}

.search-div {
  padding-left: 30vw;
}
.top-videos {
  width: 400px !important; */
  flex-shrink: 0;
  padding-right: 15px;
}
.top-songs {
  /* padding: 0px 50px; */
  padding: 0px 30px;
  width: 200px !important; */
  flex-shrink: 0;
}

.top-videos-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.placeholder {
  width: 200px;
  height: 150px;
  margin: 5px;
  background-color: red;
}

.trending-topics {
  /* width: 500px !important; */
  /* flex-shrink: 0; */
}

.album-container {
  display: flex;
  flex-wrap: wrap;

  
}

.albums {
  width: 100px;
  height: 100px;
  margin: 5px;
  color: red;
}

.album-cover {
 padding: 2px 2px;
}

@media (max-width: 950px) {
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@media (max-width: 950px) {
.top-videos-items {
  width: 400px !important; */
  flex-shrink: 0;
  align-items: center;
    justify-content: center;

}
}

@media (max-width: 950px) {
  .top-songs h2 {
    text-align: center !important;
    justify-content: center !important;
  
  }
  }
